
body {

    background-image: url("http://pa1.narvii.com/6432/cafc30922ba83895b9a08071e44c19a82885abcf_hq.gif");
    background-repeat: no-repeat;
    background-size: 1675px 1180px;

}

.Joseph{
  position: relative;
  text-align: center;
  font-size: 30px;

}

.paragraph{
  color:white;
  background-color: grey;
  font-size: 20px;
  border: 2px dotted white;
  line-height: 50px;


}
.Memes{
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.border{
  display: block;
  width: 100%;
  border-radius: 8px;
}

img {
    border-radius: 50%;
}
h1 {
    color:hotPink;
    font-size: 56px;
    text-align:center;
    text-shadow: 2px 2px;
    margin-bottom:50px;
}


#second-para{
  color:white;
  background-color: grey;
  font-size: 20px;
  border: 2px dotted white;
  line-height: 50px;
}
