body {

}
}
p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}
body {

    background-image: url("https://media.giphy.com/media/11zXXm1lsoXCes/giphy.gif");
    background-repeat: no-repeat;
    background-size: 1675px 1180px;
}

.Joseph{
  color:HotPink;

}

.border{
  display: block;
  width: 100%;
  border-radius: 8px;
}

img {
    border-radius: 50%;
}
h1 {
    text-shadow: 2px 2px;
}
